@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* 628B2D */
    --verde-claro: #6f9d33;
    --verde-escuro: #243b06;
    --branco: #ffffff;
    --cinza-texto: #666666;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
  }

  body {
    background-color: #f7f7f7;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--verde-claro);
    height: 100px;
    color: white;

  }

  header h1 {
    font-size: 30px;
    color: #333;
    margin-left: 30px;
  }

  header .user-info {
    display: flex;
    align-items: center;
  }

  header .user-info p {
    margin-right: 10px;
    color: #333;
  }

  main {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-right: 1px solid #ddd;

  }

  .sidebar ul {
    list-style: none;
  }

  .sidebar li {
    /* border-radius: 5px; */
    padding: 8px;
    text-align: center;
  }

    .sidebar li:hover {
        background: var(--verde-claro);
        color: white;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .section h3 {
    font-size: 23px;
    margin-bottom: 18px;
    color: #333;
  }

  .section p {
    color: #555;
  }

  .section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    font-family: Arial, sans-serif;
    position: relative;
  }

  .completed {
    background-color: #f7fdf7;
    border-left: 4px solid #00c851;
  }

  .progress {
    background-color: #e6f7ff;
    border-left: 4px solid #5cacee;
  }

  .section-title {
    font-size: 18px;
    font-weight: bold;
  }

  .status {
    font-size: 14px;
    color: #00c851;
    margin-top: 8px;
    border: 1px solid #00c851;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 15px auto 0px auto;
  }

  .progress-bar-container {
    margin-top: 8px;
    height: 12px;
    width: 90%;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
  }

  button#logout-btn {
    border-color: white;
    color: white;
    background-color: var(--verde-claro);
  }
  button#logout-btn:hover {
    background-color: white;
    color: var(--verde-claro);
  }

  .progress-bar {
    height: 100%;
    background: var(--verde-claro);
    width: 60%; /* Ajuste para o progresso (12/20 = 60%) */
  }

  .progress-info {
    font-size: 14px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .trophy-icon {
    color: #5cacee;
  }


.btn-acessar {
    position: absolute;
    top: 14px;
    right: 14px;
    border: 1px solid var(--verde-claro);
    border-radius: 100px;
    padding: 13px;
    font-size: 18px;
    color: var(--verde-claro);
}
.btn-acessar:hover {
    background-color: var(--verde-claro);
    color: white;
    cursor: pointer;
}

.status i {
    background-color: #00c851;
    border-radius: 1000px;
    padding: 10px 11px;
    color: white;
}

aside ul {
    font-size: 20px;
}

p.msg-ita {
    text-align: center;
    font-size: 10px;
    font-style: italic;
    margin: 20px auto 10px 20px;
}
#sec-right {
    max-width: 30vw;
}
.title-not {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.txt-not {
    font-size: 13px;
    text-align: justify;
}

#sec-right a,
#sec-right a:visited,
#sec-right a:link {
    color: inherit;
}