main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-main {
    width: 25rem;
}

header h3 {
    font-size: 1.5rem;
}
#titulo-header {
    width: 20%;
}

h1 {
    color: var(--branco);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.login-link a {
    color: var(--verde-escuro-1);
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

#back-to-home {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: auto;
    margin: 20px auto;
    display: block;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

#back-to-home:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#back-to-home:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.8);
}